.swiper {
  .swiper-section {
    overflow: hidden;
    position: relative;

    .swiper-container {
      font-size: 0;
      white-space: nowrap;

      .swiper-item {
        display: inline-block;
        float: none;
        white-space: normal;
      }
    }

    .arrow-left,
    .arrow-right {
      background: $swiper-control-background;
      border: $swiper-control-border;
      box-sizing: content-box;
      color: $swiper-control-color;
      cursor: pointer;
      display: none;
      font-size: 20px;
      height: $swiper-control-height;
      line-height: $swiper-control-height;
      margin-top: - ($swiper-control-height / 2);
      position: absolute;
      text-align: center;
      top: 50%;
      width: $swiper-control-width;

      &.active {
        display: block;
      }
    }

    .arrow-left {
      left: 0;

      &::before {
        content: '<';
      }
    }

    .arrow-right {
      right: 0;

      &::before {
        content: '>';
      }
    }
  }

  .thumbnails-container {
    float: left;
    margin: 30px 0;
  }

  .swiper-bullets-container {
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    .swiper-bullet {
      background: #000000;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: 14px;
      margin-left: 12px;
      position: relative;
      width: 14px;

      &:last-of-type {
        margin-right: 12px;
      }

      &.active {
        &::before {
          border: 2px solid #000000;
          border-radius: 50%;
          content: '';
          height: 22px;
          left: -4px;
          position: absolute;
          top: -4px;
          width: 22px;
        }
      }
    }
  }
}
