# Ignore configuration files that may contain sensitive information.

# Node JS
node_modules

# Logs
*.log

# Mac OSX
.DS_Store

# TypeScript Compiled Files
app/scripts/*.js
app/scripts/*.js.map
app/entry.js
app/entry.js.map

# Coverage Test Files
/app/tests/coverage

# JetBrains Files
.idea
*.iml
