# Ignore configuration files that may contain sensitive information.

# Node JS
node_modules

# Logs
*.log

# Mac OSX
.DS_Store

# TypeScript Compiled Files
src/scripts/*.js
src/scripts/*.js.map
src/entry.js
src/entry.js.map

# Coverage Test Files
src/tests/coverage

# JetBrains Files
.idea
*.iml
