#OSX Files
.DS_Store

#NodeJs Files
/node_modules
npm-debug.log

#Sprites Files
/app/sprites
/app/styles/sprite-base.scss

#Dist Files
/dist

#Typing Files
/typings

#Coverage Test Files
/app/scripts/tests/coverage

#JetBrains Files
.idea
*.iml
