.breadcrumb {
  border-bottom: $border-sm $border-regular $light-gray-color;
  margin: 0;
  padding: $space-xsm;

  li {
    color: $breadcrumb-color;
    display: inline-block;
    font-size: 10px;
    font-weight: $font-weight-bold;

    &::after {
      content: '>';
      display: inline-block;
      padding-left: $space-xs;
      padding-right: $space-xxs;
    }

    &.active {
      color: $breadcrumb-active-color;

      &::after {
        content: '';
      }
    }
  }
}
