footer {
  padding-top: $space-xl;
}

.footer-contact {
  border-bottom: $border-md $border-regular $light-gray-color;
  margin-bottom: $space-md;
  padding-bottom: $space-md;

  .logo {
    padding: 0;

    .icon-logo {
      border: $border-sm $border-regular $dark-color;
    }
  }

  .item {
    border-right: $border-md $border-regular $light-gray-color;
    float: right;
    padding: 0 $space-sm;
    text-align: center;

    &:first-of-type {
      border-right: 0;
      padding-right: 0;
    }

    h6 {
      font-weight: 500;
      text-transform: uppercase;
    }

    span {
      font-size: 18px;
      font-weight: $font-weight-normal;
    }
  }

  .fa {
    font-size: 22px;
    padding: $space-xs;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.footer-info {
  padding-bottom: $space-md;

  h5 {
    font-weight: $font-weight-bold;
    margin-bottom: $space-sm;
  }

  .title-list {
    font-size: 11px;
    font-weight: $font-weight-bold;
    margin-bottom: $space-xs;
  }

  dl {
    margin-bottom: $space-lg;

    dd {
      font-size: 11px;
      font-weight: $font-weight-normal;
      margin-bottom: $space-xs;
    }
  }
}

.footer-services {
  border-right: $border-md $border-regular $light-gray-color;
  margin-right: -1px;
}

.footer-about {
  border-left: $border-md $border-regular $light-gray-color;
  margin-left: -1px;
  padding-left: $space-md;

  .row {
    margin-bottom: $space-md;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 11px;
    font-weight: $font-weight-normal;
    margin-bottom: $space-xxs;

    span {
      font-weight: $font-weight-bold;
    }
  }
}

.footer-links {
  border-top: $border-md $border-regular $light-gray-color;
  font-size: 11px;
  font-weight: $font-weight-bold;
  padding: $space-md 0;

  a {
    color: $dark-gray-color;
    float: right;

    &::before {
      content: '|';
      display: inline-block;
      margin: 0 $space-xs;
    }

    &:last-of-type {
      &::before {
        content: '';
      }
    }
  }
}
