header {
  background: $header-bg-primary;
  color: $header-color;
  font-size: 12px;
  padding: $space-xs 0;

  div {
    display: inline-block;
  }

  .tab-menu {
    border-right: $border-sm $header-color $border-regular;
    font-weight: $font-weight-bold;
    padding: $space-xs $space-xsm;
    text-transform: uppercase;

    div {
      padding: 0 $space-xxs;
    }

    .active {
      color: $tab-menu-active-color;
      position: relative;

      &::after {
        border-bottom: 5px $border-regular $body-bg-color;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid transparent;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -5px;
        margin-top: 6px;
        position: absolute;
        top: 100%;
        width: 0;
      }
    }
  }

  .contact {
    padding: $space-xs 0;

    div {
      font-weight: 200;
      padding: 0 $space-xs;
      text-transform: capitalize;
    }

    span {
      font-size: 12px;
      font-weight: $font-weight-bold;

      &:first-child {
        border-right: $border-sm $header-color $border-regular;
        padding-right: $space-xxs;
      }
    }
  }

  .customer-section {
    float: right;

    div {
      &:last-child {
        background: $dark-yellow-color;
        color: $dark-gray-color;
      }
    }
  }
}
