nav {
  background-color: $navbar-bg;
  border-bottom: $border-sm $border-regular $light-gray-color;
  box-shadow: $box-shadow-md;

  .item {
    border-right: $border-md $border-regular $light-gray-color;
    float: left;
    padding: $space-md $space-sm;
    position: relative;
    width: 20%;

    &:last-of-type {
      border-right: 0;
    }

    &::after {
      content: '\f078';
      font-family: $icon-font;
      font-size: 14px;
      margin-right: $space-xs;
      margin-top: $space-sm;
      position: absolute;
      right: 0;
      top: 0;
    }

    i {
      font-size: 28px;
      height: 36px;
      left: 0;
      margin-left: 12px;
      margin-top: 12px;
      position: absolute;
      top: 0;
      width: 36px;
    }

    div {
      font-size: 10px;
      font-weight: $font-weight-bold;
      height: 10px;
      overflow: hidden;
      padding-left: $space-xl;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
}
