nav {
  background-color: $navbar-bg;
  border-bottom: $border-sm $border-regular $light-gray-color;
  box-shadow: $box-shadow-md;

  .item {
    border-right: $border-md $border-regular $light-gray-color;
    float: left;
    padding: $space-lg;
    width: 20%;
    position: relative;

    &:last-of-type {
      border-right: 0;
    }

    .icon {
      border: $border-sm $border-regular $light-gray-color;
      top: 12px;
      left: 10px;
      height: 36px;
      width: 36px;
      position: absolute;
    }

    div {
      font-size: 10px;
      font-weight: $font-weight-bold;
      height: 10px;
      overflow: hidden;
      padding-left: $space-xl;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
}
