.other-products {
  background: $other-products-bg;
  padding: $space-md 0 $space-lg;
  text-align: center;

  h2 {
    font-weight: $font-weight-bold;
    margin-bottom: $space-md;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    padding: 0 $space-xxs;
  }
}
