.other-products {
  background: $other-products-bg;
  padding: $space-md 0 $space-lg;
  text-align: center;

  h2 {
    font-weight: $font-weight-bold;
    margin-bottom: $space-md;
  }

  .icon-other-product-1,
  .icon-other-product-2,
  .icon-other-product-3,
  .icon-other-product-4 {
    max-width: 100%;
  }
}
