.subheader {
  border-bottom: $border-md $border-regular $light-gray-color;
  box-shadow: $box-shadow-lg;
  padding: $space-xsm;

  .logo-section {
    span {
      border: $border-sm $border-regular $dark-color;
    }
  }

  .search-section {
    float: right;
    padding: $space-xs $space-xxs;

    span {
      float: right;
      position: relative;

      &::after {
        color: $dark-gray-color;
        content: '\f002';
        font-family: $icon-font;
        font-size: 18px;
        margin-right: $space-xs;
        margin-top: $space-xs;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    input {
      background-color: $navbar-bg;
      border: $border-sm $border-regular $dark-gray-color;
      color: $dark-gray-color;
      float: right;
      padding: $space-xs;
      width: 240px;

      &::placeholder {
        color: $dark-color;
        font-weight: $font-weight-bold;
      }
    }
  }
}
