.tab-secondary-menu {
  background-color: $light-gray-color;
  text-align: center;

  .item {
    color: $dark-gray-color;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    margin: 0 $space-sm;
    padding-bottom: $space-sm;
    padding-top: $space-md;
    text-transform: uppercase;

    &.active {
      border-bottom: $border-md $border-regular $dark-yellow-color;
    }
  }
}

.tab-secondary-content {
  box-shadow: $box-shadow-lg;

  .col-xs-10,
  .col-xs-12 {
    border-bottom: $border-md $border-regular $light-gray-color;
    padding: $space-xl 0;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  h4 {
    margin-bottom: $space-xsm;
    text-transform: uppercase;
  }

  .item {
    text-align: center;

    i {
      font-size: 60px;
      margin-bottom: $space-sm;
    }

    h6 {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    p {
      font-size: 22px;
      font-weight: $font-weight-bold;
      margin: 0;
    }
  }

  p {
    margin-bottom: $space-xl;
  }

  button {
    border: 0;
    font-size: 11px;
    font-weight: $font-weight-bold;
    padding: $space-lg 0;
    text-align: center;
    text-transform: uppercase;

    i {
      font-size: 14px;
      font-weight: $font-weight-bold;
      margin-left: $space-xs;
    }

    &:first-child {
      background-color: $dark-color;
      color: $white-color;
    }

    &:last-child {
      background: $white-color;
    }
  }
}
