@keyframes dropdown-open {
  0% {
    display: block;
    top: 0%;
  }

  100% {
    top: 100%;
  }
}

.dropdown {
  cursor: pointer;
  float: left;
  position: relative;
  z-index: $dropdown-z-index;

  &.open {
    .dropdown-toggle {
      background: #EBEBEB;
    }

    .dropdown-container {
      animation-duration: 250ms;
      animation-name: dropdown-open;
      display: block;
    }
  }

  .dropdown-toggle {
    z-index: 10;
  }

  .dropdown-container {
    background: $dropdown-container-background;
    border: $dropdown-container-border;
    border-radius: $dropdown-container-border-radius;
    box-shadow: $dropdown-box-shadow;
    display: none;
    left: 0;
    padding: $dropdown-container-padding;
    position: absolute;
    top: 100%;
    width: $dropdown-container-width;
    z-index: 5;
  }
}
