.ajax-loader {
  background: $body-bg;
  border-radius: $loader-radius;
  color: $loader-icon-color;
  font-size: $loader-icon-size;
  left: 50%;
  opacity: 0;
  padding: $loader-padding;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: $loader-transitions;

  &.active {
    opacity: 1;
  }
}

.loader-bar {
  background-color: $loader-bar-color;
  content: '';
  display: block;
  height: $loader-bar-height;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: $loader-bar-transitions;
  width: 100%;

  &.loading {
    opacity: 1;
  }
}
