.mosaic {
  margin-bottom: 20px;

  .mosaic-container {
    padding-right: 8px;

    .mosaic-item {
      border: 1px solid #333333;
      height: 100px;
      list-style: none;
      padding-right: 8px;
      padding-top: 8px;

      &.active {
        background: #009DDA;
        color: #EEEEEE;
      }
    }
  }

  .mosaic-detail {
    background: #EEEEEE;
    padding-bottom: 8px;
    padding-left: 8px;

    .title {
      margin-bottom: 8px;
    }

    .desc {
      margin-bottom: 8px;
    }

    img {
      height: 150px;
    }
  }
}
