.overlay {
  background: $overlay-bg;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: $overlay-opacity;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $overlay-z-index;

  &.active {
    display: block;
  }
}
