@include media-breakpoint-down('sm') {
  .responsive-menu-body {
    overflow-x: hidden;

    &.responsive-menu-animated {
      transition: transform 200ms ease-out,
        bottom 200ms ease-out,
        left 200ms ease-out,
        right 200ms ease-out,
        top 200ms ease-out;
    }

    &.push {
      &.top,
      &.bottom {
        position: absolute;
        top: 0;
      }

      &.active {
        &.left {
          transform: translate(85%);
        }

        &.right {
          transform: translate(-85%);
        }
      }
    }

    &.discover {
      // To avoid seeing the menu below transparent body content.
      background: $body-bg-color;
      position: absolute;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      &.top {
        top: 0;
      }

      &.active {
        &.left {
          left: 85%;
        }

        &.right {
          right: 85%;
        }
      }
    }
  }

  .responsive-menu {
    display: none;
    position: absolute;
    z-index: $responsive-menu-z-index;

    &.active {
      display: block;
    }

    &.over {
      &.responsive-menu-animated {
        transition: transform 200ms ease-out,
          bottom 200ms ease-out,
          top 200ms ease-out;
      }

      &.right {
        max-width: 85%;
        right: 0;
        top: 0;
        transform: translate(100%);
      }

      &.left {
        left: 0;
        max-width: 85%;
        top: 0;
        transform: translate(-100%);
      }

      &.top {
        top: 0;
        transform: translate(0, -100%);
      }

      &.bottom {
        bottom: 0;
        position: fixed;
        transform: translate(0, 100%);
      }

      &.active {
        transform: translate(0, 0);
      }
    }

    &.push {
      height: 100%;
      position: fixed;

      &.responsive-menu-animated {
        transition: transform 200ms ease-out,
          bottom 200ms ease-out,
          top 200ms ease-out;
      }

      &.right {
        right: 0;
        top: 0;
        transform: translate(100%);
        width: 85%;
      }

      &.left {
        left: 0;
        top: 0;
        transform: translate(-100%);
        width: 85%;
      }

      &.top {
        height: auto;
        position: absolute;
        top: 0;
        transform: translate(0, -100%);
      }

      &.bottom {
        position: fixed;
        top: 100%;
        transform: translate(0, 0);

        &.active {
          transform: translate(0, -100%);
        }
      }
    }

    &.discover {
      position: fixed;
      width: 85%;
      z-index: -5;

      &.top {
        top: 0;
        width: 100%;
      }

      &.left {
        left: 0;
        top: 0;
      }

      &.right {
        right: 0;
        top: 0;
      }

      &.bottom {
        bottom: 0;
        width: 100%;
      }
    }
  }
}
