.swiper {
  overflow: hidden;
  position: relative;

  .swiper-container {
    font-size: 0;
    white-space: nowrap;

    .swiper-item {
      display: inline-block;
      float: none;
      white-space: normal;
    }
  }

  .arrow-left,
  .arrow-right {
    background: $swiper-control-background;
    border: $swiper-control-border;
    box-sizing: content-box;
    color: $swiper-control-color;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: $swiper-control-height;
    line-height: $swiper-control-height;
    margin-top: - ($swiper-control-height / 2);
    position: absolute;
    text-align: center;
    top: 50%;
    width: $swiper-control-width;

    &.active {
      display: block;
    }
  }

  .arrow-left {
    left: 0;

    &::before {
      content: '<';
    }
  }

  .arrow-right {
    right: 0;

    &::before {
      content: '>';
    }
  }
}
