<footer class="row">
  <div class="col-xl-8 col-xl-offset-2 col-xs-10 col-xs-offset-1">
    <div class="footer-contact row">
      <div class="logo col-xs-3">
        <div class="icon-logo"></div>
      </div>
      <div class="col-xs-9">
        <div class="item">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
        <div class="item">
          <h6>línea nacional</h6>
          <span>01 8000 919918</span>
        </div>
        <div class="item">
          <h6>bogotá</h6>
          <span>650 1000</span>
        </div>
        <div class="item">
          <h6>red de</h6>
          <span>Oficinas</span>
        </div>
      </div>
    </div>
    <div class="footer-info row">
      <div class="footer-services col-xs-7">
        <div class="row">
          <div class="col-xs-9">
            <h5>Para personas</h5>
            <div class="row">
              <div class="col-xs-6">
                <div class="title-list">
                  Ahorros:
                </div>
                <dl>
                  <dd>Cuenta de ahorros</dd>
                  <dd>Cuenta de corriente</dd>
                  <dd>CDT</dd>
                  <dd>Nómina</dd>
                </dl>
                <div class="title-list">
                  Préstamos:
                </div>
                <dl>
                  <dd>Inverprimas</dd>
                  <dd>Crédito Vehículos</dd>
                  <dd>Crédito Educativo</dd>
                  <dd>Libranza</dd>
                  <dd>Libre Inversión</dd>
                  <dd>Crédito Rotativo</dd>
                </dl>
              </div>
              <div class="col-xs-6">
                <div class="title-list">
                  Tarjetas de Crédito:
                </div>
                <dl>
                  <dd>Visa Clásica</dd>
                  <dd>Visa Gold</dd>
                  <dd>Visa Platinum</dd>
                  <dd>Visa Signature</dd>
                  <dd>Visa Innfinite</dd>
                </dl>
                <div class="title-list">
                  Servicios:
                </div>
                <dl>
                  <dd>Pichincha Box</dd>
                  <dd>Pago tarjeta de crédito</dd>
                  <dd>Pago crédito personal</dd>
                  <dd>Recarga tarjeta prepago</dd>
                </dl>
                <div class="title-list">
                  Experiencias Pichincha
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <h5>Para empresas</h5>
            <div class="row">
              <div class="col-xs-12">
                <div class="title-list">
                  Productos:
                </div>
                <dl>
                  <dd>Soluciones de Inversión</dd>
                  <dd>Soluciones de Información</dd>
                  <dd>Soluciones de Recaudo</dd>
                  <dd>Soluciones de Prepago</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-about col-xs-5">
        <div class="row">
          <div class="col-xs-6">
            <h5 id="make-customer">Banco Pichincha</h5>
            <dl>
              <dd>Quienes Somos</dd>
              <dd>Atención a Inversionistas</dd>
              <dd>Informacion Financiera</dd>
              <dd>Gobierno Corporativo</dd>
              <dd>Responsabilidad Social</dd>
              <dd>Trabaje con Nosotros</dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <h5>Información de Interes</h5>
            <dl>
              <dd>Noticias</dd>
              <dd>Recomendaciones de Seguridad</dd>
              <dd>Tasas y Tarifas</dd>
              <dd>Red de Oficinas</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <h5>Servicio al cliente</h5>
            <dl>
              <dd>Contáctenos</dd>
              <dd>Consumidor Financiero</dd>
              <dd>Defensor del Consumidor</dd>
              <dd>Educación Financiera</dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <h5>Accesos</h5>
            <dl>
              <dd>Acceso Inverprimas</dd>
              <dd>Acceso Plan Mayor</dd>
              <dd>Acceso Assesores Educativo</dd>
              <dd>Acceso partners</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <p class="col-xs-12">
            <span>Dirección General: </span>
            Cra. 11 No. 92-09 / <span>PBX:</span> (1) 6501050/6501010
          <p>
          <p class="col-xs-12">
            Horario Fin de mes hasta las 4:30 en todo el país
          </p>
        </div>
      </div>
    </div>
    <div class="footer-links row">
      <div class="col-xs-4">
        Copyright © 2016 - Banco Pichincha S.A.
      </div>
      <div class="col-xs-8">
        <a>Aviso de privacidad</a>
        <a>Términos y condiciones</a>
        <a>Política de privacidad</a>
        <a data-jump-content-id="site-nav">Mapa del sitio</a>
      </div>
    </div>
  </div>
</footer>
