<div>
  <header class="row">
    <div class="col-xs-7">
      <div class="tab-menu">
        <div class="active">personas</div>
        <div>empresas</div>
      </div>
      <div class="contact">
        <div>
          <i class="fa fa-location-arrow"></i> oficinas
        </div>
        <div>
          <i class="fa fa-phone"></i> llamanos
          <span>6501000</span>
          <span>018000919918</span>
        </div>
      </div>
    </div>
    <div class="customer-section col-xs-5">
      <a data-jump-content-id="make-customer">
        <i class="fa fa-check-square-o"></i>
        hazte cliente
      </a>
      <a>
        <i class="fa fa-laptop"></i>
        area clientes
      </a>
    </div>
  </header>
  <div class="subheader row">
    <div class="col-xs-6 logo-section">
      <span class="icon-logo"></span>
    </div>
    <div class="col-xs-4 search-section">
      <span class="search">
        <input type="text" placeholder="¿Cómo te podemos ayudar?"/>
      </span>
    </div>
  </div>
</div>
