<nav class="row" id="site-nav" data-menu-open-button-id="id-open-nav"
     data-responsive-menu="over" data-menu-position="left"
     data-menu-overlay="true" data-is-main="true">
  <div class="dropdown" data-dropdown>
    <div class="dropdown-toggle item">
      <i class="fa fa-money"></i>
      <div>ahorros e inversion</div>
    </div>
    <div class="dropdown-container">
      Ahorros...
    </div>
  </div>
  <div class="dropdown" data-dropdown>
    <div class="dropdown-toggle item">
      <i class="fa fa-credit-card"></i>
      <div>tarjetas de credito</div>
    </div>
    <div class="dropdown-container">
      Tarjetas...
    </div>
  </div>
  <div class="dropdown" data-dropdown>
    <div class="dropdown-toggle item">
      <i class="fa fa-umbrella"></i>
      <div>prestamos</div>
    </div>
    <div class="dropdown-container">
      Prestamos...
    </div>
  </div>
  <div class="dropdown" data-dropdown>
    <div class="dropdown-toggle item">
      <i class="fa fa-credit-card"></i>
      <div>servicios</div>
    </div>
    <div class="dropdown-container">
      Servicios...
    </div>
  </div>
  <div class="dropdown" data-dropdown>
    <div class="dropdown-toggle item">
      <i class="fa fa-cloud"></i>
      <div>experiencias pichincha</div>
    </div>
    <div class="dropdown-container">
      Experiencias...
    </div>
  </div>
</nav>
