<nav class="row" id="site-nav" data-menu-over
     data-menu-open-button-id="id-open-nav">
  <div class="item" data-menu-collapser="ahorros-menu">
    <i class="fa fa-money"></i>
    <div>ahorros e inversion</div>
  </div>
  <div id="ahorros-menu" class="collapsable collapsable-items">
    <ul>
      <li data-menu-collapser="ahorros-1" default-active="true" class="collapsable-item">
        <h3>Ahorros 1...</h3>
        <div id="ahorros-1" class="collapsable collapsable-menu-expanded">
          <h4>Ahorros 1</h4>
          <ul>
            <li>Primer ahorro</li>
            <li>Segundo ahorro</li>
            <li>Tercer ahorro</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="ahorros-2" class="collapsable-item">
        <h3>Ahorros 2...</h3>
        <div id="ahorros-2" class="collapsable collapsable-menu-expanded">
          <h4>Ahorros 2</h4>
          <ul>
            <li>Primer ahorro 2</li>
            <li>Segundo ahorro 2</li>
            <li>Tercer ahorro 2</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="ahorros-3" class="collapsable-item">
        <h3>Ahorros 3...</h3>
        <div id="ahorros-3" class="collapsable collapsable-menu-expanded">
          <h4>Ahorros 3</h4>
          <ul>
            <li>Primer ahorro 3</li>
            <li>Segundo ahorro 3</li>
            <li>Tercer ahorro 3</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="item" data-menu-collapser="tarjetas-credito">
    <i class="fa fa-credit-card"></i>
    <div>tarjetas de credito</div>
  </div>
  <div id="tarjetas-credito" class="collapsable collapsable-items">
    <ul>
      <li data-menu-collapser="tarjetas-1" class="collapsable-item">
        <h3>tarjetas 1...</h3>
        <div id="tarjetas-1" class="collapsable collapsable-menu-expanded">
          <h4>tarjetas 1</h4>
          <ul>
            <li>Primer tarjeta</li>
            <li>Segundo tarjeta</li>
            <li>Tercer tarjeta</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="tarjetas-2" class="collapsable-item">
        <h3>tarjetas 2...</h3>
        <div id="tarjetas-2" class="collapsable collapsable-menu-expanded">
          <h4>tarjetas 2</h4>
          <ul>
            <li>Primer tarjeta 2</li>
            <li>Segundo tarjeta 2</li>
            <li>Tercer tarjeta 2</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="tarjetas-3" class="collapsable-item">
        <h3>tarjetas 3...</h3>
        <div id="tarjetas-3" class="collapsable collapsable-menu-expanded">
          <h4>tarjetas 3</h4>
          <ul>
            <li>Primer tarjeta 3</li>
            <li>Segundo tarjeta 3</li>
            <li>Tercer tarjeta 3</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="item" data-menu-collapser="prestamos">
    <i class="fa fa-umbrella"></i>
    <div>prestamos</div>
  </div>
  <div id="prestamos" class="collapsable collapsable-items">
    <ul>
      <li data-menu-collapser="prestamos-1" class="collapsable-item">
        <h3>prestamos 1...</h3>
        <div id="prestamos-1" class="collapsable collapsable-menu-expanded">
          <h4>prestamos 1</h4>
          <ul>
            <li>Primer prestamo</li>
            <li>Segundo prestamo</li>
            <li>Tercer prestamo</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="prestamos-2" class="collapsable-item">
        <h3>prestamos 2...</h3>
        <div id="prestamos-2" class="collapsable collapsable-menu-expanded">
          <h4>prestamos 2</h4>
          <ul>
            <li>Primer prestamo 2</li>
            <li>Segundo prestamo 2</li>
            <li>Tercer prestamo 2</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="prestamos-3" class="collapsable-item">
        <h3>prestamos 3...</h3>
        <div id="prestamos-3" class="collapsable collapsable-menu-expanded">
          <h4>prestamos 3</h4>
          <ul>
            <li>Primer prestamo 3</li>
            <li>Segundo prestamo 3</li>
            <li>Tercer prestamo 3</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="item" data-menu-collapser="servicios">
    <i class="fa fa-credit-card"></i>
    <div>servicios</div>
    
  </div>
  <div id="servicios" class="collapsable collapsable-items">
    <ul>
      <li data-menu-collapser="servicios-1" class="collapsable-item">
        <h3>servicios 1...</h3>
        <div id="servicios-1" class="collapsable collapsable-menu-expanded">
          <h4>servicios 1</h4>
          <ul>
            <li>Primer servicio</li>
            <li>Segundo servicio</li>
            <li>Tercer servicio</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="servicios-2" class="collapsable-item">
        <h3>servicios 2...</h3>
        <div id="servicios-2" class="collapsable collapsable-menu-expanded">
          <h4>servicios 2</h4>
          <ul>
            <li>Primer servicio 2</li>
            <li>Segundo servicio 2</li>
            <li>Tercer servicio 2</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="servicios-3" class="collapsable-item">
        <h3>servicios 3...</h3>
        <div id="servicios-3" class="collapsable collapsable-menu-expanded">
          <h4>servicios 3</h4>
          <ul>
            <li>Primer servicio 3</li>
            <li>Segundo servicio 3</li>
            <li>Tercer servicio 3</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="item" data-menu-collapser="experiencias">
    <i class="fa fa-cloud"></i>
    <div>experiencias pichincha</div>
  </div>
  <div id="experiencias" class="collapsable collapsable-items">
    <ul>
      <li data-menu-collapser="experiencias-1" class="collapsable-item">
        <h3>experiencias 1...</h3>
        <div id="experiencias-1" class="collapsable collapsable-menu-expanded">
          <h4>experiencias 1</h4>
          <ul>
            <li>Primer experiencia</li>
            <li>Segundo experiencia</li>
            <li>Tercer experiencia</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="experiencias-2" class="collapsable-item">
        <h3>experiencias 2...</h3>
        <div id="experiencias-2" class="collapsable collapsable-menu-expanded">
          <h4>experiencias 2</h4>
          <ul>
            <li>Primer experiencia 2</li>
            <li>Segundo experiencia 2</li>
            <li>Tercer experiencia 2</li>
          </ul>
        </div>
      </li>
      <li data-menu-collapser="experiencias-3" class="collapsable-item">
        <h3>experiencias 3...</h3>
        <div id="experiencias-3" class="collapsable collapsable-menu-expanded">
          <h4>experiencias 3</h4>
          <ul>
            <li>Primer experiencia 3</li>
            <li>Segundo experiencia 3</li>
            <li>Tercer experiencia 3</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
