<nav class="row" id="site-nav">
  <div class="item">
    <i class="fa fa-money"></i>
    <div>ahorros e inversion</div>
  </div>
  <div class="item">
    <i class="fa fa-credit-card"></i>
    <div>tarjetas de credito</div>
  </div>
  <div class="item">
    <i class="fa fa-umbrella"></i>
    <div>prestamos</div>
  </div>
  <div class="item">
    <i class="fa fa-credit-card"></i>
    <div>servicios</div>
  </div>
  <div class="item">
    <i class="fa fa-cloud"></i>
    <div>experiencias pichincha</div>
  </div>
</nav>
