@keyframes modal-open {
  0% {
    display: block;
    opacity: 0;
    top: 0%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

.modal-content {
  background: $modal-background;
  border-radius: $modal-border-radius;
  display: none;
  height: $modal-height;
  left: 50%;
  opacity: 1;
  padding: $modal-padding;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $modal-width;
  z-index: $modal-z-index;

  &.active {
    animation-duration: 300ms;
    animation-name: modal-open;
    display: block;
  }

  .modal-close {
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    margin-right: 12px;
    margin-top: 4px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(1.2);

    &::before {
      content: $modal-close-content;
    }
  }
}
