.mosaic {
  margin-bottom: 20px;

  .mosaic-container {
    padding-right: 8px;

    .mosaic-item {
      list-style: none;
      padding: 4px;

      &.active {
        .content {
          background: #009DDA;
          color: #FFFFFF;
        }
      }

      .content {
        background: #EEEEEE;
        font-size: 20px;
        font-weight: 700;
        padding: 30px 0;
        text-align: center;
        width: 100%;
      }
    }
  }

  .mosaic-detail {
    float: left;
    padding: 4px;
    width: 50%;

    .content {
      background: #EEEEEE;
      font-size: 18px;
      height: 100%;
      padding: 12px;
      text-align: center;
    }

    .title {
      margin-bottom: 8px;
    }

    .desc {
      margin-bottom: 8px;
    }

    img {
      max-width: 100%;
    }
  }
}
