.plus-badge {
  background-color: $dark-gray-color;
  color: $white-color;
  display: inline-block;
  font-size: 7px;
  font-weight: $font-weight-bold;
  height: 13px;
  margin-left: $space-xs;
  position: relative;
  vertical-align: top;
  width: 28px;

  &::before {
    content: '+ info';
    left: 3px;
    position: absolute;
    text-transform: uppercase;
    top: 3px;
  }
}
