$white-color: #FFFFFF;
$dark-color: #454546;
$black-color: #000000;

$dark-gray-color: #59595B;
$light-gray-color: #EBEBEB;
$dark-yellow-color: #FFB43C;

$body-bg-color: #FBFAF8;

$header-bg-primary: #4F4F51;
$header-color: #F7F7F7;

$breadcrumb-color: #A4A4A4;
$breadcrumb-active-color: #3E3E42;

$banner-bg-color: #FFD455;

$border-sm: 1px;
$border-md: 2px;
$border-lg: 4px;
$border-regular: solid;

$box-shadow-sm: 0 1px 1px #888888;
$box-shadow-md: 0 5px 5px -3px #AAAAAA;
$box-shadow-lg: 0 10px 6px -3px #DDDDDD;

$navbar-bg: #F7F7F7;
$other-products-bg: #F1F0EE;

$space-xxs: 4px;
$space-xs: 8px;
$space-xsm: 12px;
$space-sm: 16px;
$space-md: 20px;
$space-lg: 24px;
$space-xl: 32px;

$font-size-root: 14px;
$font-weight-bold: 500;
$font-weight-semibold: 300;
$font-weight-normal: 200;

$icon-font: 'FontAwesome';
