$white-color: #fff;
$dark-color: #454546;
$black-color: #000;

$dark-gray-color: #59595b;
$light-gray-color: #ebebeb;
$dark-yellow-color: #ffd668;

$body-bg-color: #fbfaf8;

$customer-section-bg: #ffb43c;
$header-bg-primary: #4f4f51;
$header-bg-secondary: #f4cb74;
$header-color: #f7f7f7;

$tab-menu-active-color: #e6b743;

$breadcrumb-color: #a4a4a4;
$breadcrumb-active-color: #3e3e42;

$border-sm: 1px;
$border-md: 2px;
$border-lg: 4px;
$border-regular: solid;

$box-shadow-sm: 0 1px 1px #888;
$box-shadow-md: 0 5px 5px -3px #aaa;
$box-shadow-lg: 0 10px 6px -3px #ddd;

$navbar-bg: #f7f7f7;
$other-products-bg: #f1f0ee;

$space-xxs: 4px;
$space-xs: 8px;
$space-xsm: 12px;
$space-sm: 16px;
$space-md: 20px;
$space-lg: 24px;
$space-xl: 32px;

$font-size-root: 14px;
$font-weight-bold: 500;
$font-weight-semibold: 300;
$font-weight-normal: 200;

$icon-font: 'FontAwesome';
