{% extends "./layouts/base.njk" %}

{% block content %}
  <div class="banner row">
    <div class="image-section">
      <div class="icon-banner"></div>
    </div>
    <div class="info-section">
      <div class="title-section">
        <h1>Crédito Educativo</h1>
        <h3>
          Con la agilidad y facilidad de nuestro crédito educatuvo
          tu estudio es posible.
        </h3>
      </div>
      <div class="content-section">
        <p>
          Te acompañamos en la construcción de tus sueños y metas de
          tus hijos con nuestro crédito educativo.
        </p>
        <a data-modal-content-id="modal_test">
          solicita tu credito educativo
        </a>
        <div class="social-share">
          <span>compartir</span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-secondary row">
    <div class="tab-secondary-menu col-xs-12">
      <a class="item active" data-tab-content-id="features">
        características
      </a>
      <a class="item" data-tab-content-id="benefits">
        requisitos
      </a>
    </div>
    <div class="tab-secondary-content">
      <div id="features" class="tab-content active">
        <div class="col-xs-offset-1 col-xs-10">
          <ul class="checked-list-yellow col-xs-9">
            <li>Crédito rotativo hasta por el 100% de la matrícula</li>
            <li>Aprobación inmediata con tasas especiales</li>
            <li>Desembolso para crédito nuevo en 24 horas y para
              renovación 4 horas a través de giros a las universidades
              con convenios o con cheque.</li>
          </ul>
          <h4 class="col-xs-3">destino del credito</h4>
          <ul class="bullet-list col-xs-3">
            <li>Pregrado<span class="plus-badge"></span></li>
            <li>Posgrado<span class="plus-badge"></span></li>
            <li>Educacion continuada</li>
            <li>Cursos de ingles<span class="plus-badge"></span></li>
            <li>Compra de computadoras</li>
          </ul>
        </div>
        <div class="col-xs-offset-1 col-xs-10">
          <div class="row">
            <div class="item col-xs-3">
              <i class="fa fa-calendar"></i>
              <h6>para edades entre</h6>
              <p>18 a 75 años</p>
            </div>
            <div class="item col-xs-3">
              <i class="fa fa-money"></i>
              <h6>monto mínimo a financiar</h6>
              <p>$300.000</p>
            </div>
            <div class="item col-xs-3">
              <i class="fa fa-money"></i>
              <h6>monto máximo a funanciar</h6>
              <p>$20'000.000</p>
            </div>
            <div class="item col-xs-3">
              <i class="fa fa-calendar"></i>
              <h6>plazo de crédito</h6>
              <p>De 1 a 60 meses</p>
            </div>
          </div>
        </div>
      </div>
      <div id="benefits" class="tab-content">
        <div class="col-xs-offset-1 col-xs-10">
          <p>Ademas con Banco Pichincha tambien obtienes:</p>
          <ul class="checked-list-gray">
            <li><a>Red de oficinas</a> para trámites y pagos, incluyendo convenios
              con universidades o instituciones educativas.</li>
            <li>Respaldo, asesoría y trayectoria del Banco Pichincha en créditos
              Educativos.</li>
            <li>Financiaión garantizada para todo el tiempo que duren las carreras
              o planes de educación.</li>
            <li>Pago del crédito a través de PSE con cuentas de otros bancos</li>
          </ul>
        </div>
        <div class="col-xs-12">
          <button class="col-xs-offset-4 col-xs-4">
            solicita ya tu credito educativo
            <i class="fa fa-angle-right"></i>
          </button>
          <button class="col-xs-offset-4 col-xs-4">
            o acercate a nuestras oficinas
            <i class="fa fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="other-products">
    <div class="row">
      <h2 class="col-xs-12">Otros productos que te pueden interesar</h2>
    </div>
    <div class="swiper" data-swiper>
      <div class="swiper-container">
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-1.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-2.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-3.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-1.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-2.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-3.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-1.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-2.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-3.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-1.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-2.png"/>
        </div>
        <div class="swiper-item col-xl-3 col-lg-4 col-md-6 col-xs-8">
          <img src="/images/other-product-3.png"/>
        </div>
      </div>
      <button class="arrow-left" data-swiper-prev></button>
      <button class="arrow-right" data-swiper-next></button>
    </div>
  </div>
  <div id="modal_test" class="modal-content" data-close-on-overlay="false">
    <div class="modal-close" data-modal-close></div>
    Test modal
  </div>
{% endblock %}
