<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Banco Pichincha</title>
  <base href="/">
</head>
<body>
  <div class="container-fluid">
    {% include "../partials/header.njk" %}
    {% include "../partials/navbar.njk" %}
    {% include "../partials/breadcrumb.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "../partials/footer.njk" %}
  </div>
</body>
</html>
