<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <base href="/">
</head>
<body ng-app="app">
  <div class="container-fluid">
    {% include "../partials/header.njk" %}
    {% include "../partials/navbar.njk" %}
    {% include "../partials/breadcrumb.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "../partials/footer.njk" %}
  </div>
  <div class="scroll-spy" data-scroll-spy>
    <a class="fa fa-arrow-up" aria-hidden="true" data-jump-content-id="site-nav"></a>
  </div>
</body>
</html>
